@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.bg-sky-dark-stripes {
  background: linear-gradient(
    to bottom,
    rgb(12 74 110),
    rgb(12 74 110) 50%,
    rgb(8 47 73) 50%,
    rgb(8 47 73)
  );

  background-size: 100% 7px;
}

.bg-sky-light-stripes {
  background: linear-gradient(
    to bottom,
    rgb(186 230 253),
    rgb(186 230 253) 50%,
    rgb(125 211 252) 50%,
    rgb(125 211 252)
  );

  background-size: 100% 7px;
}

.bg-slate-dark-stripes {
  background: linear-gradient(
    to bottom,
    rgb(30 41 59),
    rgb(30 41 59) 50%,
    rgb(15 23 42) 50%,
    rgb(15 23 42)
  );

  background-size: 100% 7px;
}

.bg-slate-light-stripes {
  background: linear-gradient(
    to bottom,
    rgb(248 250 252),
    rgb(248 250 252) 50%,
    rgb(203 213 225) 50%,
    rgb(203 213 225)
  );

  background-size: 100% 7px;
}

.bg-green-dark-stripes {
  background: linear-gradient(
    to bottom,
    rgb(141 177 161),
    rgb(141 177 161) 50%,
    rgb(99 145 121) 50%,
    rgb(99 145 121)
  );

  background-size: 100% 7px;
}

.bg-green-light-stripes {
  background: linear-gradient(
    to bottom,
    rgb(231 248 241),
    rgb(231 248 241) 50%,
    rgb(206 232 225) 50%,
    rgb(206 232 225)
  );

  background-size: 100% 7px;
}

.bg-bronze-dark-stripes {
  background: linear-gradient(
    to bottom,
    rgb(218 171 121),
    rgb(218 171 121) 50%,
    rgb(192 155 112) 50%,
    rgb(192 155 112)
  );

  background-size: 100% 7px;
}

.bg-bronze-light-stripes {
  background: linear-gradient(
    to bottom,
    rgb(240 228 215),
    rgb(240 228 215) 50%,
    rgb(242 212 176) 50%,
    rgb(242 212 176)
  );

  background-size: 100% 7px;
}
