@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-sky-stripes {
  background: linear-gradient(
    to bottom,
    rgb(12 74 110),
    rgb(12 74 110) 50%,
    rgb(8 47 73) 50%,
    rgb(8 47 73)
  );

  background-size: 100% 7px;
}

.bg-white-stripes {
  background: linear-gradient(
    to bottom,
    rgb(186 230 253),
    rgb(186 230 253) 50%,
    rgb(125 211 252) 50%,
    rgb(125 211 252)
  );

  background-size: 100% 7px;
}

.bg-slate-stripes {
  background: linear-gradient(
    to bottom,
    rgb(30 41 59),
    rgb(30 41 59) 50%,
    rgb(15 23 42) 50%,
    rgb(15 23 42)
  );

  background-size: 100% 7px;
}
